body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #70b9db;
  margin: 0px;
  background-image: url("pic1.jpg");
  
}

.bodyContent {
    margin: 16px;
}

#user_list {
    background-color: #ccccff;
    width: 250px;
}

input {
  background: none;
  font-family: courier;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.topnav {
  background-color: rgb(195, 162, 207);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #fffefe;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}