<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A MERIT Example{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    
    <body>

        <audio controls>
            <source src="calm.mp3" type="audio/mpeg"/>
            Your browser does not support the audio tag.
          </audio>
        
        <div class="topnav">
            <a href="/">Welcome</a>
            <a href="/newUser">Registration</a>
            <a href="/login">Login</a>
            <a href="/feed">Feed</a>
            <a href="/posts">Posts</a>
            <a href="/profile"> My Profile</a>
            <a href="/users">Users</a>
            <a href="/about">About Us</a>
        </div>
       
       
        <div class="bodyContent">
            <h1>
                Welcome to Group 2's website!
            </h1>

            <center><img src="{{ user_image }}"></center>
            

            {% block form %} {% endblock %}
            {% block userList %}
            <div id="user_list">
            {% for user in users %}
                <h2>
                  {{ user.fname }} {{ user.lname }}
                </h2>
                <p>
                  <b>City</b>: {{ user.city }}
                </p>
                <p>
                    <b>Email</b>: {{ user.email }}
                </p>
                <p>
                    <b>Password</b>: {{ user.password }}
                </p>
                <p>
                    <b>ConfirmPassword</b>: {{ user.confirmpassword }}
                </p>

            {% endfor %}
            {% endblock %}

             
            </div>
        </div>

    </body>
</html>