<!-- 
    This is an example of template inheritance.
    This extends from the index.html template and uses that as a base. 
    The title block is being overridden here.
    The form block is being given a value here.
-->

{% extends 'index.html' %}

{% block title %}New User Submission{% endblock %}
{% block form %}
{% if status %}
  <h1>{{ status }}</h1>
{% endif %}
<h2>
    SBUWEB REGISTRATION
</h2>

<center><img src="{{ reg_image }}"></center>

<form method="post" action="/newUser">
    <p><input type="text" name="fname" placeholder="First Name"></p>
    <p><input type="text" name="lname" placeholder="Last Name"></p>
    <p><input type="text" name="city" placeholder="City"></p>
    <p><input type="text" name="email" placeholder="Email"></p>
    <p><input type="password" name="password" placeholder="Password" minlength="10" ></p>
    <p><input type="password" name="confirmpassword" placeholder="Confirm Password" minlength="10" ></p>
    <p><input type="submit"></p>
</form>

{% endblock %}